n8n-workflow-vercel.json
{
  "name": "Meta PPT Weekly Report (Vercel Puppeteer)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [1],
              "triggerAtHour": 8
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 0],
      "id": "schedule-trigger",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "jsCode": "const now = new Date();\nconst dayOfWeek = now.getDay();\n\nconst thisMonday = new Date(now);\nthisMonday.setDate(thisMonday.getDate() - ((dayOfWeek + 6) % 7));\nthisMonday.setHours(0, 0, 0, 0);\n\nconst lastMonday = new Date(thisMonday);\nlastMonday.setDate(lastMonday.getDate() - 7);\n\nconst lastSunday = new Date(thisMonday);\nlastSunday.setDate(lastSunday.getDate() - 1);\n\nconst twoWeeksAgoMonday = new Date(lastMonday);\ntwoWeeksAgoMonday.setDate(twoWeeksAgoMonday.getDate() - 7);\n\nconst twoWeeksAgoSunday = new Date(lastMonday);\ntwoWeeksAgoSunday.setDate(twoWeeksAgoSunday.getDate() - 1);\n\nconst lastYearMonday = new Date(lastMonday);\nlastYearMonday.setDate(lastYearMonday.getDate() - 364);\n\nconst lastYearSunday = new Date(lastSunday);\nlastYearSunday.setDate(lastYearSunday.getDate() - 364);\n\nfunction formatDate(date) {\n  const year = date.getFullYear();\n  const month = String(date.getMonth() + 1).padStart(2, '0');\n  const day = String(date.getDate()).padStart(2, '0');\n  return `${year}-${month}-${day}`;\n}\n\nfunction formatDisplayDate(date) {\n  const day = String(date.getDate()).padStart(2, '0');\n  const month = String(date.getMonth() + 1).padStart(2, '0');\n  const year = date.getFullYear();\n  return `${day}-${month}-${year}`;\n}\n\nreturn [{\n  json: {\n    thisWeekStart: formatDate(lastMonday),\n    thisWeekEnd: formatDate(lastSunday),\n    lastWeekStart: formatDate(twoWeeksAgoMonday),\n    lastWeekEnd: formatDate(twoWeeksAgoSunday),\n    lastYearStart: formatDate(lastYearMonday),\n    lastYearEnd: formatDate(lastYearSunday),\n    reportPeriod: `${formatDisplayDate(lastMonday)} - ${formatDisplayDate(lastSunday)}`,\n    reportDate: formatDisplayDate(lastSunday)\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [200, 0],
      "id": "set-date-ranges",
      "name": "Set Date Ranges"
    },
    {
      "parameters": {
        "url": "={{`https://graph.facebook.com/v23.0/act_551500061938768/insights?level=ad&time_range={\"since\":\"${$json.thisWeekStart}\",\"until\":\"${$json.thisWeekEnd}\"}&fields=ad_id,ad_name,adset_name,campaign_name,spend,impressions,reach,clicks,actions,action_values&limit=5000`}}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "facebookGraphApi",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [400, -100],
      "id": "http-this-week",
      "name": "Fetch This Week Data"
    },
    {
      "parameters": {
        "url": "={{`https://graph.facebook.com/v23.0/act_551500061938768/insights?level=ad&time_range={\"since\":\"${$json.lastWeekStart}\",\"until\":\"${$json.lastWeekEnd}\"}&fields=ad_id,ad_name,adset_name,campaign_name,spend,impressions,reach,clicks,actions,action_values&limit=5000`}}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "facebookGraphApi",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [400, 0],
      "id": "http-last-week",
      "name": "Fetch Last Week Data"
    },
    {
      "parameters": {
        "url": "={{`https://graph.facebook.com/v23.0/act_551500061938768/insights?level=ad&time_range={\"since\":\"${$json.lastYearStart}\",\"until\":\"${$json.lastYearEnd}\"}&fields=ad_id,ad_name,adset_name,campaign_name,spend,impressions,reach,clicks,actions,action_values&limit=5000`}}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "facebookGraphApi",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [400, 100],
      "id": "http-last-year",
      "name": "Fetch Last Year Data"
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [600, 0],
      "id": "merge-data",
      "name": "Merge Data"
    },
    {
      "parameters": {
        "jsCode": "const mergedInputs = $input.all();\nconst thisWeekData = mergedInputs[0].json.data;\nconst lastWeekData = mergedInputs[1].json.data;\nconst lastYearData = mergedInputs[2].json.data;\nconst exchangeRate = 1.3328;\n\nconst now = new Date();\nconst dayOfWeek = now.getDay();\nconst thisMonday = new Date(now);\nthisMonday.setDate(thisMonday.getDate() - ((dayOfWeek + 6) % 7));\nconst lastMonday = new Date(thisMonday);\nlastMonday.setDate(lastMonday.getDate() - 7);\nconst lastSunday = new Date(thisMonday);\nlastSunday.setDate(lastSunday.getDate() - 1);\n\nfunction formatDisplayDate(date) {\n  const day = String(date.getDate()).padStart(2, '0');\n  const month = String(date.getMonth() + 1).padStart(2, '0');\n  const year = date.getFullYear();\n  return `${day}-${month}-${year}`;\n}\n\nconst dateRanges = {\n  reportPeriod: `${formatDisplayDate(lastMonday)} - ${formatDisplayDate(lastSunday)}`,\n  reportDate: formatDisplayDate(lastSunday)\n};\n\nfunction extractAction(actions, actionType) {\n  if (!actions) return 0;\n  const action = actions.find(a => a.action_type === actionType);\n  return action ? parseInt(action.value) : 0;\n}\n\nfunction extractActionValue(actionValues, actionType) {\n  if (!actionValues) return 0;\n  const actionValue = actionValues.find(a => a.action_type === actionType);\n  return actionValue ? parseFloat(actionValue.value) : 0;\n}\n\nfunction classifyCampaign(campaignName) {\n  if (!campaignName) return 'GLOBAL';\n  const name = campaignName.toUpperCase();\n  if (name.includes(' - US - ')) return 'US';\n  if (name.includes(' - EU - ')) return 'EU';\n  if (name.includes(' - JP - ')) return 'JP';\n  if (name.includes(' - INT - ')) return 'INT';\n  return 'GLOBAL';\n}\n\nfunction isBridal(adsetName) {\n  if (!adsetName) return false;\n  return adsetName.toLowerCase().includes('bridal');\n}\n\nfunction getCampaignObjective(campaignName) {\n  if (!campaignName) return 'OTHER';\n  if (campaignName.includes('LP View') || campaignName.includes('Traffic')) return 'TRAFFIC';\n  if (campaignName.includes('Conversion')) return 'CONVERSION';\n  return 'OTHER';\n}\n\nfunction calculatePercentChange(current, previous) {\n  if (!previous || previous === 0) return 'N/A';\n  const change = ((current - previous) / previous) * 100;\n  const sign = change >= 0 ? '+' : '';\n  return `${sign}${change.toFixed(0)}%`;\n}\n\nfunction formatCurrency(value) {\n  return `$${(value * exchangeRate).toLocaleString('en-US', { minimumFractionDigits: 2, maximumFractionDigits: 2 })}`;\n}\n\nfunction formatCurrencyNoDecimals(value) {\n  return `$${Math.round(value * exchangeRate).toLocaleString('en-US')}`;\n}\n\nfunction formatNumber(value) {\n  return value.toLocaleString('en-US');\n}\n\nfunction aggregateByRegion(data) {\n  const regions = {\n    GLOBAL: { spend: 0, impressions: 0, reach: 0, purchases: 0, revenue: 0, lpv: 0, atc: 0, ic: 0, bridalAdsMap: {}, nonBridalAdsMap: {} },\n    US: { spend: 0, impressions: 0, reach: 0, purchases: 0, revenue: 0, lpv: 0, atc: 0, ic: 0, bridalAdsMap: {}, nonBridalAdsMap: {} },\n    EU: { spend: 0, impressions: 0, reach: 0, purchases: 0, revenue: 0, lpv: 0, atc: 0, ic: 0, bridalAdsMap: {}, nonBridalAdsMap: {} },\n    JP: { spend: 0, impressions: 0, reach: 0, purchases: 0, revenue: 0, lpv: 0, atc: 0, ic: 0, bridalAdsMap: {}, nonBridalAdsMap: {} },\n    INT: { spend: 0, impressions: 0, reach: 0, purchases: 0, revenue: 0, lpv: 0, atc: 0, ic: 0, bridalAdsMap: {}, nonBridalAdsMap: {} }\n  };\n  \n  data.forEach(row => {\n    if (!row || !row.campaign_name || !row.campaign_name.includes(' - PM - ')) return;\n    \n    const region = classifyCampaign(row.campaign_name);\n    const objective = getCampaignObjective(row.campaign_name);\n    \n    regions[region].spend += parseFloat(row.spend || 0);\n    regions[region].impressions += parseInt(row.impressions || 0);\n    regions[region].reach += parseInt(row.reach || 0);\n    regions[region].purchases += extractAction(row.actions, 'purchase');\n    regions[region].revenue += extractActionValue(row.action_values, 'purchase');\n    regions[region].lpv += extractAction(row.actions, 'landing_page_view');\n    regions[region].atc += extractAction(row.actions, 'add_to_cart');\n    regions[region].ic += extractAction(row.actions, 'initiate_checkout');\n    \n    if (region !== 'GLOBAL') {\n      regions.GLOBAL.spend += parseFloat(row.spend || 0);\n      regions.GLOBAL.impressions += parseInt(row.impressions || 0);\n      regions.GLOBAL.reach += parseInt(row.reach || 0);\n      regions.GLOBAL.purchases += extractAction(row.actions, 'purchase');\n      regions.GLOBAL.revenue += extractActionValue(row.action_values, 'purchase');\n      regions.GLOBAL.lpv += extractAction(row.actions, 'landing_page_view');\n      regions.GLOBAL.atc += extractAction(row.actions, 'add_to_cart');\n      regions.GLOBAL.ic += extractAction(row.actions, 'initiate_checkout');\n    }\n    \n    if (row.ad_name && row.ad_id) {\n      const adName = row.ad_name;\n      const isBridalAd = isBridal(row.adset_name);\n      const targetMap = isBridalAd ? 'bridalAdsMap' : 'nonBridalAdsMap';\n      const lpvValue = extractAction(row.actions, 'landing_page_view');\n      const atcValue = extractAction(row.actions, 'add_to_cart');\n      const spendValue = parseFloat(row.spend || 0);\n      \n      if (!regions[region][targetMap][adName]) {\n        regions[region][targetMap][adName] = {\n          adIds: [row.ad_id], adName, adsetName: row.adset_name, campaignName: row.campaign_name,\n          lpv: lpvValue, atc: atcValue, spend: spendValue, objective\n        };\n      } else {\n        regions[region][targetMap][adName].adIds.push(row.ad_id);\n        regions[region][targetMap][adName].lpv += lpvValue;\n        regions[region][targetMap][adName].atc += atcValue;\n        regions[region][targetMap][adName].spend += spendValue;\n      }\n      \n      if (region !== 'GLOBAL') {\n        if (!regions.GLOBAL[targetMap][adName]) {\n          regions.GLOBAL[targetMap][adName] = {\n            adIds: [row.ad_id], adName, adsetName: row.adset_name, campaignName: row.campaign_name,\n            lpv: lpvValue, atc: atcValue, spend: spendValue, objective\n          };\n        } else {\n          regions.GLOBAL[targetMap][adName].adIds.push(row.ad_id);\n          regions.GLOBAL[targetMap][adName].lpv += lpvValue;\n          regions.GLOBAL[targetMap][adName].atc += atcValue;\n          regions.GLOBAL[targetMap][adName].spend += spendValue;\n        }\n      }\n    }\n  });\n  \n  Object.keys(regions).forEach(regionKey => {\n    regions[regionKey].bridalAds = Object.values(regions[regionKey].bridalAdsMap).map(ad => ({\n      adId: ad.adIds[0], adIds: ad.adIds, adName: ad.adName, adsetName: ad.adsetName,\n      campaignName: ad.campaignName, lpv: ad.lpv, atc: ad.atc, spend: ad.spend,\n      objective: ad.objective, costPerLPV: ad.lpv > 0 ? ad.spend / ad.lpv : 0\n    }));\n    delete regions[regionKey].bridalAdsMap;\n    \n    regions[regionKey].nonBridalAds = Object.values(regions[regionKey].nonBridalAdsMap).map(ad => ({\n      adId: ad.adIds[0], adIds: ad.adIds, adName: ad.adName, adsetName: ad.adsetName,\n      campaignName: ad.campaignName, lpv: ad.lpv, atc: ad.atc, spend: ad.spend,\n      objective: ad.objective, costPerLPV: ad.lpv > 0 ? ad.spend / ad.lpv : 0\n    }));\n    delete regions[regionKey].nonBridalAdsMap;\n  });\n  \n  return regions;\n}\n\nconst thisWeekRegions = aggregateByRegion(thisWeekData);\nconst lastWeekRegions = aggregateByRegion(lastWeekData);\nconst lastYearRegions = aggregateByRegion(lastYearData);\n\nfunction buildRegionData(regionName) {\n  const current = thisWeekRegions[regionName];\n  const lastWeek = lastWeekRegions[regionName];\n  const lastYear = lastYearRegions[regionName];\n  \n  const roas = current.revenue > 0 ? (current.revenue / current.spend) : 0;\n  const cpm = current.impressions > 0 ? (current.spend / current.impressions) * 1000 : 0;\n  const costPerLPV = current.lpv > 0 ? (current.spend / current.lpv) : 0;\n  const costPerATC = current.atc > 0 ? (current.spend / current.atc) : 0;\n  const costPerIC = current.ic > 0 ? (current.spend / current.ic) : 0;\n  \n  function getTopCreatives(ads, objective) {\n    return objective === 'TRAFFIC' ? ads.sort((a, b) => b.lpv - a.lpv).slice(0, 3) : ads.sort((a, b) => b.atc - a.atc).slice(0, 3);\n  }\n  \n  const topBridalTraffic = getTopCreatives(current.bridalAds, 'TRAFFIC');\n  const topNonBridalTraffic = getTopCreatives(current.nonBridalAds, 'TRAFFIC');\n  \n  return {\n    cost: formatCurrencyNoDecimals(current.spend), orders: formatNumber(current.purchases),\n    revenue: formatCurrencyNoDecimals(current.revenue), reach: formatNumber(current.reach),\n    lpv: formatNumber(current.lpv), atc: formatNumber(current.atc), ic: formatNumber(current.ic),\n    roas: roas.toFixed(2), cpm: formatCurrency(cpm), costPerLPV: formatCurrency(costPerLPV),\n    costPerATC: formatCurrency(costPerATC), costPerIC: formatCurrency(costPerIC),\n    costYoY: calculatePercentChange(current.spend, lastYear.spend),\n    costWoW: calculatePercentChange(current.spend, lastWeek.spend),\n    ordersYoY: calculatePercentChange(current.purchases, lastYear.purchases),\n    ordersWoW: calculatePercentChange(current.purchases, lastWeek.purchases),\n    revenueYoY: calculatePercentChange(current.revenue, lastYear.revenue),\n    revenueWoW: calculatePercentChange(current.revenue, lastWeek.revenue),\n    roasYoY: calculatePercentChange(roas, lastYear.revenue / lastYear.spend),\n    roasWoW: calculatePercentChange(roas, lastWeek.revenue / lastWeek.spend),\n    reachYoY: calculatePercentChange(current.reach, lastYear.reach),\n    reachWoW: calculatePercentChange(current.reach, lastWeek.reach),\n    lpvYoY: calculatePercentChange(current.lpv, lastYear.lpv),\n    lpvWoW: calculatePercentChange(current.lpv, lastWeek.lpv),\n    atcYoY: calculatePercentChange(current.atc, lastYear.atc),\n    atcWoW: calculatePercentChange(current.atc, lastWeek.atc),\n    bridalCreatives: topBridalTraffic.map(ad => ({\n      adId: ad.adId, adIds: ad.adIds, adName: ad.adName,\n      lpv: formatNumber(ad.lpv), atc: formatNumber(ad.atc),\n      cost: formatCurrencyNoDecimals(ad.spend), costPerLPV: formatCurrency(ad.costPerLPV),\n      adCount: ad.adIds.length\n    })),\n    nonBridalCreatives: topNonBridalTraffic.map(ad => ({\n      adId: ad.adId, adIds: ad.adIds, adName: ad.adName,\n      lpv: formatNumber(ad.lpv), atc: formatNumber(ad.atc),\n      cost: formatCurrencyNoDecimals(ad.spend), costPerLPV: formatCurrency(ad.costPerLPV),\n      adCount: ad.adIds.length\n    }))\n  };\n}\n\nreturn [{\n  json: {\n    period: dateRanges.reportPeriod, reportDate: dateRanges.reportDate,\n    global: buildRegionData('GLOBAL'), us: buildRegionData('US'),\n    eu: buildRegionData('EU'), jp: buildRegionData('JP'), int: buildRegionData('INT')\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [800, 0],
      "id": "process-all-data",
      "name": "Process All Data"
    },
    {
      "parameters": {
        "jsCode": "const reportData = $input.first().json;\nconst allCreatives = new Set();\n\n['global', 'us', 'eu', 'jp', 'int'].forEach(region => {\n  const regionData = reportData[region];\n  regionData.bridalCreatives.forEach(ad => allCreatives.add(ad.adId));\n  regionData.nonBridalCreatives.forEach(ad => allCreatives.add(ad.adId));\n});\n\nconst creativeIds = Array.from(allCreatives);\n\nreturn creativeIds.map(adId => ({\n  json: { adId, reportData }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1000, 0],
      "id": "prepare-creative-fetch",
      "name": "Prepare Creative Fetch"
    },
    {
      "parameters": {
        "url": "={{`https://graph.facebook.com/v23.0/${$json.adId}?fields=creative{image_url,thumbnail_url,video_id}`}}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "facebookGraphApi",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [1200, 0],
      "id": "fetch-creative-details",
      "name": "Fetch Creative Details"
    },
    {
      "parameters": {
        "jsCode": "const allCreatives = $input.all();\nconst creatives = {};\n\nallCreatives.forEach(item => {\n  const adId = item.json.id;\n  const creative = item.json.creative;\n  if (creative) {\n    creatives[adId] = {\n      imageUrl: creative.thumbnail_url || creative.image_url,\n      isVideo: !!creative.video_id\n    };\n  }\n});\n\nconst reportData = allCreatives[0].json.reportData;\n\nreturn [{ json: { creatives, reportData } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1400, 0],
      "id": "process-creative-details",
      "name": "Process Creative Details"
    },
    {
      "parameters": {
        "jsCode": "const creativesData = $input.first().json;\nconst creatives = creativesData.creatives;\nconst downloadList = [];\n\nObject.keys(creatives).forEach(adId => {\n  const creative = creatives[adId];\n  if (creative.imageUrl) {\n    downloadList.push({\n      adId, url: creative.imageUrl,\n      type: creative.isVideo ? 'video_thumbnail' : 'image',\n      filename: `${adId}.jpg`\n    });\n  }\n});\n\nreturn downloadList.map(item => ({ json: item }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1600, 0],
      "id": "prepare-media-downloads",
      "name": "Prepare Media Downloads"
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [1800, 0],
      "id": "download-media",
      "name": "Download Media Files",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "name": "={{ $json.filename }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1NU4oOf9r8bavgFGl_ZQqbgC3osoIDNWU",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [2000, 0],
      "id": "upload-media-to-drive",
      "name": "Upload Media to Drive",
      "notes": "Folder ID를 수정하세요"
    },
    {
      "parameters": {
        "operation": "share",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "permissionsUi": {
          "permissionsValues": {
            "role": "reader",
            "type": "anyone"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [2200, 0],
      "id": "make-files-public",
      "name": "Make Files Public"
    },
    {
      "parameters": {
        "jsCode": "const uploadedFiles = $input.all();\nconst imageMap = {};\n\nuploadedFiles.forEach(file => {\n  const adId = file.json.name.replace(/\\.(jpg|jpeg|png)$/i, '');\n  const publicUrl = `https://drive.google.com/uc?export=view&id=${file.json.id}`;\n  imageMap[adId] = publicUrl;\n});\n\nconst reportData = $('Process Creative Details').first().json.reportData;\n\nreturn [{ json: { images: imageMap, reportData } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2400, 0],
      "id": "extract-drive-urls",
      "name": "Extract Drive URLs"
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst reportData = data.reportData;\n\nfunction generatePrompt(regionName, regionData) {\n  return `You are a Meta Ads performance analyst. Analyze the following weekly performance data.\n\nRegion: ${regionName}\nPeriod: ${reportData.period}\n\n📊 Current Week:\n- Cost: ${regionData.cost}\n- ROAS: ${regionData.roas}\n- Reach: ${regionData.reach}\n- LPV: ${regionData.lpv} (Cost/LPV: ${regionData.costPerLPV})\n- ATC: ${regionData.atc} (Cost/ATC: ${regionData.costPerATC})\n\n📈 Changes:\n- Cost WoW: ${regionData.costWoW} / YoY: ${regionData.costYoY}\n- ROAS WoW: ${regionData.roasWoW}\n- LPV WoW: ${regionData.lpvWoW}\n- ATC WoW: ${regionData.atcWoW}\n\nProvide analysis in this format (bullet points, 1-2 lines each):\n\n📊 Performance Highlights:\n• [Key achievement]\n\n⚠️ Areas of Concern:\n• [Main issue]\n\n🎯 Top Performers:\n• [Best creative]\n\n💡 Recommendations:\n• [Action #1]\n• [Action #2]`;\n}\n\nconst prompts = [\n  { region: 'GLOBAL', prompt: generatePrompt('Global', reportData.global) },\n  { region: 'US', prompt: generatePrompt('United States', reportData.us) },\n  { region: 'EU', prompt: generatePrompt('Europe', reportData.eu) },\n  { region: 'JP', prompt: generatePrompt('Japan', reportData.jp) },\n  { region: 'INT', prompt: generatePrompt('International', reportData.int) }\n];\n\nreturn prompts.map(p => ({\n  json: { region: p.region, prompt: p.prompt, images: data.images, reportData }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2600, 0],
      "id": "generate-ai-prompts",
      "name": "Generate AI Prompts"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "anthropicApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{{\n  \"model\": \"claude-sonnet-4-20250514\",\n  \"max_tokens\": 1000,\n  \"messages\": [{\n    \"role\": \"user\",\n    \"content\": $json.prompt\n  }]\n}}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [2800, 0],
      "id": "call-claude-api",
      "name": "Call Claude API"
    },
    {
      "parameters": {
        "jsCode": "const allResponses = $input.all();\nconst regionOrder = ['GLOBAL', 'US', 'EU', 'JP', 'INT'];\nconst summaries = {};\n\nallResponses.forEach((item, index) => {\n  const region = regionOrder[index];\n  summaries[region] = item.json.content[0].text;\n});\n\nconst images = allResponses[0].json.images;\nconst reportData = allResponses[0].json.reportData;\n\nreturn [{ json: { summaries, images, reportData } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3000, 0],
      "id": "process-ai-summaries",
      "name": "Process AI Summaries"
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst reportData = data.reportData;\nconst summaries = data.summaries;\nconst images = data.images;\n\nfunction createSlideHTML(regionName, regionData, aiSummary) {\n  const displayName = {\n    'GLOBAL': 'Global Overview',\n    'US': 'United States',\n    'EU': 'Europe', \n    'JP': 'Japan',\n    'INT': 'International'\n  }[regionName];\n  \n  return `<!DOCTYPE html>\n<html>\n<head>\n<meta charset=\"UTF-8\">\n<style>\n* { margin:0; padding:0; box-sizing:border-box; }\nbody { width:1920px; height:1080px; font-family:Arial,sans-serif; background:#fff; padding:50px 70px; overflow:hidden; }\n.header { text-align:center; margin-bottom:40px; padding-bottom:25px; border-bottom:3px solid #3b82f6; }\nh1 { font-size:64px; color:#1e293b; margin-bottom:15px; }\n.period { font-size:28px; color:#64748b; }\n.metrics-grid { display:grid; grid-template-columns:repeat(4,1fr); gap:20px; margin-bottom:35px; }\n.metric-card { background:linear-gradient(135deg,#667eea 0%,#764ba2 100%); padding:30px; border-radius:16px; color:#fff; }\n.metric-card:nth-child(2) { background:linear-gradient(135deg,#f093fb 0%,#f5576c 100%); }\n.metric-card:nth-child(3) { background:linear-gradient(135deg,#4facfe 0%,#00f2fe 100%); }\n.metric-card:nth-child(4) { background:linear-gradient(135deg,#43e97b 0%,#38f9d7 100%); }\n.metric-label { font-size:18px; opacity:0.9; margin-bottom:10px; font-weight:500; }\n.metric-value { font-size:36px; font-weight:700; margin-bottom:10px; }\n.metric-changes { display:flex; gap:12px; font-size:14px; }\n.change-badge { background:rgba(255,255,255,0.25); padding:6px 12px; border-radius:8px; }\n.ai-section { background:#f8fafc; padding:25px; border-radius:12px; margin-bottom:30px; }\n.ai-section h3 { font-size:28px; color:#1e293b; margin-bottom:15px; }\n.ai-content { font-size:16px; line-height:1.8; color:#334155; white-space:pre-wrap; }\n.creatives-section { margin-top:25px; }\n.creatives-grid { display:grid; grid-template-columns:repeat(3,1fr); gap:20px; }\n.creative-item { background:#f8fafc; padding:15px; border-radius:12px; }\n.creative-item img { width:100%; height:180px; object-fit:cover; border-radius:8px; margin-bottom:10px; }\n.creative-name { font-size:14px; color:#1e293b; font-weight:600; margin-bottom:8px; white-space:nowrap; overflow:hidden; text-overflow:ellipsis; }\n.creative-metrics { font-size:13px; color:#64748b; }\n</style>\n</head>\n<body>\n<div class=\"header\">\n  <h1>${displayName}</h1>\n  <div class=\"period\">${reportData.period}</div>\n</div>\n\n<div class=\"metrics-grid\">\n  <div class=\"metric-card\">\n    <div class=\"metric-label\">Cost</div>\n    <div class=\"metric-value\">${regionData.cost}</div>\n    <div class=\"metric-changes\">\n      <span class=\"change-badge\">WoW: ${regionData.costWoW}</span>\n      <span class=\"change-badge\">YoY: ${regionData.costYoY}</span>\n    </div>\n  </div>\n  <div class=\"metric-card\">\n    <div class=\"metric-label\">ROAS</div>\n    <div class=\"metric-value\">${regionData.roas}</div>\n    <div class=\"metric-changes\">\n      <span class=\"change-badge\">WoW: ${regionData.roasWoW}</span>\n    </div>\n  </div>\n  <div class=\"metric-card\">\n    <div class=\"metric-label\">LPV</div>\n    <div class=\"metric-value\">${regionData.lpv}</div>\n    <div class=\"metric-changes\">\n      <span class=\"change-badge\">WoW: ${regionData.lpvWoW}</span>\n    </div>\n  </div>\n  <div class=\"metric-card\">\n    <div class=\"metric-label\">ATC</div>\n    <div class=\"metric-value\">${regionData.atc}</div>\n    <div class=\"metric-changes\">\n      <span class=\"change-badge\">WoW: ${regionData.atcWoW}</span>\n    </div>\n  </div>\n</div>\n\n<div class=\"ai-section\">\n  <h3>📊 AI Analysis</h3>\n  <div class=\"ai-content\">${aiSummary}</div>\n</div>\n\n<div class=\"creatives-section\">\n  <h3 style=\"font-size:24px; margin-bottom:15px; color:#1e293b;\">🎨 Top Bridal Creatives</h3>\n  <div class=\"creatives-grid\">\n    ${regionData.bridalCreatives.slice(0,3).map(ad => `\n      <div class=\"creative-item\">\n        <img src=\"${images[ad.adId] || 'https://via.placeholder.com/300x180'}\" alt=\"Creative\" />\n        <div class=\"creative-name\">${ad.adName}</div>\n        <div class=\"creative-metrics\">LPV: ${ad.lpv} | Cost: ${ad.cost}</div>\n      </div>\n    `).join('')}\n  </div>\n</div>\n\n</body>\n</html>`;\n}\n\nconst slides = [\n  { region: 'GLOBAL', html: createSlideHTML('GLOBAL', reportData.global, summaries.GLOBAL) },\n  { region: 'US', html: createSlideHTML('US', reportData.us, summaries.US) },\n  { region: 'EU', html: createSlideHTML('EU', reportData.eu, summaries.EU) },\n  { region: 'JP', html: createSlideHTML('JP', reportData.jp, summaries.JP) },\n  { region: 'INT', html: createSlideHTML('INT', reportData.int, summaries.INT) }\n];\n\nreturn slides.map((slide, i) => ({\n  json: { slideNumber: i + 1, region: slide.region, html: slide.html }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3200, 0],
      "id": "generate-html-slides",
      "name": "Generate HTML Slides"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://YOUR-VERCEL-PROJECT.vercel.app/api/screenshot",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"html\": $json.html, \"viewport_width\": 1920, \"viewport_height\": 1080, \"device_scale\": 2 } }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [3400, 0],
      "id": "convert-to-screenshot",
      "name": "Convert to Screenshot (Vercel)",
      "notes": "Vercel URL을 본인의 URL로 수정하세요!"
    },
    {
      "parameters": {
        "jsCode": "// Vercel API는 base64 이미지를 직접 반환\n// Download 단계 없이 바로 binary로 변환\n\nconst base64Data = $json.image;\nconst binaryData = Buffer.from(base64Data, 'base64');\n\nreturn [{\n  json: {\n    slideNumber: $json.slideNumber || 1,\n    success: true\n  },\n  binary: {\n    data: binaryData,\n    mimeType: 'image/png'\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3600, 0],
      "id": "process-screenshot",
      "name": "Process Screenshot"
    },
    {
      "parameters": {
        "jsCode": "const PptxGenJS = require('pptxgenjs');\nconst pptx = new PptxGenJS();\n\npptx.layout = 'LAYOUT_16x9';\npptx.author = 'GRAFF Marketing Team';\npptx.title = 'Meta Ads Weekly Report';\n\nconst screenshots = $input.all();\n\nfor (const item of screenshots) {\n  const slide = pptx.addSlide();\n  const imageData = item.binary.data;\n  const base64Image = Buffer.from(imageData).toString('base64');\n  \n  slide.addImage({\n    data: `image/png;base64,${base64Image}`,\n    x: 0, y: 0, w: '100%', h: '100%'\n  });\n}\n\nconst dates = $('Process All Data').first().json;\nconst fileName = `Meta_Ads_Weekly_Report_${dates.reportDate.replace(/\\//g, '-')}.pptx`;\nconst pptxData = await pptx.write({ outputType: 'base64' });\n\nreturn [{\n  json: { fileName },\n  binary: {\n    data: Buffer.from(pptxData, 'base64'),\n    fileName,\n    mimeType: 'application/vnd.openxmlformats-officedocument.presentationml.presentation'\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3800, 0],
      "id": "create-pptx",
      "name": "Create PowerPoint"
    },
    {
      "parameters": {
        "name": "={{$json.fileName}}",
        "binaryData": true,
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "YOUR_REPORTS_FOLDER_ID",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [4000, 0],
      "id": "upload-ppt-to-drive",
      "name": "Upload PPT to Drive"
    },
    {
      "parameters": {
        "operation": "share",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "permissionsUi": {
          "permissionsValues": {
            "role": "reader",
            "type": "anyone"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [4200, 0],
      "id": "make-ppt-public",
      "name": "Make PPT Public"
    },
    {
      "parameters": {
        "channel": "marketing-reports",
        "text": "=📊 **Meta Ads Weekly Report**\\n\\nReport Period: {{$('Process All Data').first().json.period}}\\n\\n📥 Download: {{$json.webViewLink}}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [4400, 0],
      "id": "send-to-slack",
      "name": "Send to Slack"
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [[{ "node": "Set Date Ranges", "type": "main", "index": 0 }]]
    },
    "Set Date Ranges": {
      "main": [[
        { "node": "Fetch This Week Data", "type": "main", "index": 0 },
        { "node": "Fetch Last Week Data", "type": "main", "index": 0 },
        { "node": "Fetch Last Year Data", "type": "main", "index": 0 }
      ]]
    },
    "Fetch This Week Data": {
      "main": [[{ "node": "Merge Data", "type": "main", "index": 0 }]]
    },
    "Fetch Last Week Data": {
      "main": [[{ "node": "Merge Data", "type": "main", "index": 0 }]]
    },
    "Fetch Last Year Data": {
      "main": [[{ "node": "Merge Data", "type": "main", "index": 0 }]]
    },
    "Merge Data": {
      "main": [[{ "node": "Process All Data", "type": "main", "index": 0 }]]
    },
    "Process All Data": {
      "main": [[{ "node": "Prepare Creative Fetch", "type": "main", "index": 0 }]]
    },
    "Prepare Creative Fetch": {
      "main": [[{ "node": "Fetch Creative Details", "type": "main", "index": 0 }]]
    },
    "Fetch Creative Details": {
      "main": [[{ "node": "Process Creative Details", "type": "main", "index": 0 }]]
    },
    "Process Creative Details": {
      "main": [[{ "node": "Prepare Media Downloads", "type": "main", "index": 0 }]]
    },
    "Prepare Media Downloads": {
      "main": [[{ "node": "Download Media Files", "type": "main", "index": 0 }]]
    },
    "Download Media Files": {
      "main": [[{ "node": "Upload Media to Drive", "type": "main", "index": 0 }]]
    },
    "Upload Media to Drive": {
      "main": [[{ "node": "Make Files Public", "type": "main", "index": 0 }]]
    },
    "Make Files Public": {
      "main": [[{ "node": "Extract Drive URLs", "type": "main", "index": 0 }]]
    },
    "Extract Drive URLs": {
      "main": [[{ "node": "Generate AI Prompts", "type": "main", "index": 0 }]]
    },
    "Generate AI Prompts": {
      "main": [[{ "node": "Call Claude API", "type": "main", "index": 0 }]]
    },
    "Call Claude API": {
      "main": [[{ "node": "Process AI Summaries", "type": "main", "index": 0 }]]
    },
    "Process AI Summaries": {
      "main": [[{ "node": "Generate HTML Slides", "type": "main", "index": 0 }]]
    },
    "Generate HTML Slides": {
      "main": [[{ "node": "Convert to Screenshot (Vercel)", "type": "main", "index": 0 }]]
    },
    "Convert to Screenshot (Vercel)": {
      "main": [[{ "node": "Process Screenshot", "type": "main", "index": 0 }]]
    },
    "Process Screenshot": {
      "main": [[{ "node": "Create PowerPoint", "type": "main", "index": 0 }]]
    },
    "Create PowerPoint": {
      "main": [[{ "node": "Upload PPT to Drive", "type": "main", "index": 0 }]]
    },
    "Upload PPT to Drive": {
      "main": [[{ "node": "Make PPT Public", "type": "main", "index": 0 }]]
    },
    "Make PPT Public": {
      "main": [[{ "node": "Send to Slack", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "tags": []
}
